*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li, a {
  text-decoration: none;
  color: black;
  }
/* UTILITY */
.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  }
  img{
    max-width: 100%;
  }
  
/* HEADER */
.rowHeader{
width: 100%;
  display: flex;
  justify-content: space-around;
 
}
.colHeader{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.logo{
  height: 150px;
  padding: 5px;
}


.HeaderLayout{
  background-color:#f8fafb;
  background-image: url(https://cdn.pixabay.com/photo/2016/06/15/08/23/tape-1458416_1280.png) ;
  background-size: 50%;
  background-repeat: repeat;
  border: 1px solid black;
  height: 150px;
  width: 100%;
}

.linkButton{
border: 1px solid black;  
background-color: white;
margin: 5px;
padding: 3px;


}
.active{
  background-color: #f2f5f8;
}

/* moviePage */
.pageSection{
  background-color: #f8fafb;
  padding-top: 40px;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col{
  height: 600px;
  width:calc(100% / 2);
  
}

.searchZone{
  
  height: 60px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}
.imgContainer{
  height: 480px;
  width: 430px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2015/05/21/23/15/movie-778063_960_720.jpg) ;
  background-size: cover;
}
.imgDettails{
  height: 450px;
  
}
/* elenco film layout */
.buttonFilm{
 
  height: 50px;
  width: 60%;
  background-color: #f2f5f8;
  border: none;
  font-family: cursive;

}
.mMovies{
  margin-top: 100px;
  margin-bottom: 20px;
}
/* cardLayout */
.titleCard{
  margin:2px;
  padding:10px;
  border: 2px solid black;
  text-align: center;
  background-color: #f2f5f8;
  width: 430px;
}
.noSelected{
  height: 480px;
  width: 430px;
  text-align: center;
 background-size: 480px;
  font-size: large;
  background-image: url(https://cdn.pixabay.com/photo/2016/04/01/10/56/camera-1300107_1280.png);
}
.sectionRow{
  height: 25px;
  width: 100%;

}
.imgNotFound{
  height:300px;
  width: 100%;
}

/* homepage layout */
.homePageLayout{
  height: 600px;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200_1280.png);
}

.homeSlayder{
display: flex;
justify-content: center;
margin-top: 50px;
height: 400px;
}
.titleHome{
  padding-top: 15px;
  font-size: xx-large;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}