*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li, a {
  text-decoration: none;
  color: black;
  }
/* UTILITY */
.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  }
  img{
    max-width: 100%;
  }
  .mt20{
    margin-top: 20px;
  }
  
/* HEADER */
.rowHeader{
width: 100%;
  display: flex;
  justify-content: space-around;
 
}
.colHeader{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.logo{
  height: 150px;
  padding: 5px;
}


.HeaderLayout{
  background-color:#f8fafb;
  background-image: url(https://cdn.pixabay.com/photo/2016/06/15/08/23/tape-1458416_1280.png) ;
  background-size: 50%;
  background-repeat: repeat;
  border: 1px solid black;
  height: 150px;
  width: 100%;
}

.linkButton{
border: 1px solid black;  
background-color: white;
margin: 5px;
padding: 3px;
cursor: pointer;


}
.active{
  background-color: #f2f5f8;
}

/* moviePage */
.pageSection{
  background-color: #f8fafb;
  padding-top: 40px;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col{
  
  width:calc(100% / 2);
  
}

.searchZone{
  
  height: 60px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}
.imgContainer{
  
  width: 430px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2015/05/21/23/15/movie-778063_960_720.jpg) ;
  background-size: cover;
}
.imgDettails{
  height: 450px;
  
}
/* elenco film layout */
.buttonFilm{
 
  height: 50px;
  width: 60%;
  background-color: #f2f5f8;
  border: none;
  font-family: cursive;
  cursor: pointer;

}
.mMovies{
  margin-top: 100px;
  margin-bottom: 20px;
}
/* cardLayout */
.titleCard{
  margin:2px;
  padding:10px;
  border: 2px solid black;
  text-align: center;
  background-color: #f2f5f8;
  width: 430px;
  position: relative;
  overflow: hidden;
}
.noSelected{
  height: 480px;
  width: 430px;
  text-align: center;
 background-size: 480px;
  font-size: large;
  background-image: url(https://cdn.pixabay.com/photo/2016/04/01/10/56/camera-1300107_1280.png);
}
.sectionRow{
  width: 100%;
}
.buttonDettails{
  
  position: absolute;
  top: 12px;
  right: 15px;
 
  background-color: rgb(16, 126, 21);
  color: white;
  border: 1px solid black;
  z-index: 2; 
  width: 100px;
  height: 25px;
  cursor: pointer;
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Posizione iniziale */
  }
  40% {
    transform: translateY(-10px); /* Si alza un po' */
  }
  60% {
    transform: translateY(-5px); /* Un piccolo "rimbalzo" */
  }
}

/* homepage layout */
.homePageLayout{
  height: 600px;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200_1280.png);
}

.homeSlaider{
display: flex;
justify-content: center;
margin-top: 50px;
height: 400px;
}
.titleHome{
  padding-top: 15px;
  font-size: xx-large;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
/* Review layout */

.rowReview{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.colReview{
  width:calc(100% / 2 -100px);
  margin: 20px;

}
.reviewCard{  
  margin: 4px;
  height: 240px;
  background-image: url(https://cdn.pixabay.com/photo/2015/06/22/23/21/filmklappe-818198_1280.jpg);
  color: white;
  background-size: cover;
  padding-top: 25px ;
 
}
/* card review */
.titleRev{
  height: 50px;
  text-align: center;
  padding: 5px;
  padding-top: 15px;
  color: black;
}
.textRev{
  background-image: url();
  background-size: cover;
  height: 100px;
  text-align: center;
  padding-top: 50px;
}
.pdt15{
 padding-top: 15px;
}
.reviewBotRow{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* form Layout */
.form{
  height: 100%;
background-color: red;
text-align: center;
}